@font-face {
  font-family: "Goorm Sans";
  src: url("../../public/fonts/goorm-sans-regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Goorm Sans";
  src: url("../../public/fonts/goorm-sans-medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Goorm Sans";
  src: url("../../public/fonts/goorm-sans-bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Wix Made for Display";
  src: url("../../public/fonts/WixMadeforDisplay-Regular.otf")
    format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Wix Made for Display";
  src: url("../../public/fonts/WixMadeforDisplay-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Wix Made for Display";
  src: url("../../public/fonts/WixMadeforDisplay-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

.font-wix {
  font-family: "Wix Made for Display";
}

.font-goorm {
  font-family: "Goorm Sans";
}
