@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.9841 0.0026 247.8489);
  --foreground: oklch(0.317 0.0173 248.3715);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.317 0.0173 248.3715);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.317 0.0173 248.3715);
  --primary: oklch(0.6461 0.1081 178.6914);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.6563 0.1068 298.762);
  --secondary-foreground: oklch(1 0 0);
  --muted: oklch(0.921 0.0088 247.9219);
  --muted-foreground: oklch(0.5491 0.0226 248.2392);
  --accent: oklch(0.8632 0.0834 84.2078);
  --accent-foreground: oklch(0.317 0.0173 248.3715);
  --destructive: oklch(0.6295 0.1785 23.7701);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.8809 0.0134 247.9797);
  --input: oklch(0.8809 0.0134 247.9797);
  --ring: oklch(0.6461 0.1081 178.6914);
  --chart-1: oklch(0.6461 0.1081 178.6914);
  --chart-2: oklch(0.6563 0.1068 298.762);
  --chart-3: oklch(0.8632 0.0834 84.2078);
  --chart-4: oklch(0.6775 0.1602 1.3593);
  --chart-5: oklch(0.6702 0.0945 232.3191);
  --sidebar: oklch(0.9841 0.0026 247.8489);
  --sidebar-foreground: oklch(0.317 0.0173 248.3715);
  --sidebar-primary: oklch(0.5745 0.0923 179.2982);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.8257 0.0861 84.0954);
  --sidebar-accent-foreground: oklch(0.317 0.0173 248.3715);
  --sidebar-border: oklch(0.8404 0.0181 248.0435);
  --sidebar-ring: oklch(0.5745 0.0923 179.2982);
  --font-sans: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  --radius: 0.5rem;
  --shadow-x: 0px;
  --shadow-y: 4px;
  --shadow-blur: 12px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.08;
  --shadow-color: hsl(210, 10%, 20%);
  --shadow-2xs: 0px 4px 12px 0px hsl(210 10% 20% / 0.04);
  --shadow-xs: 0px 4px 12px 0px hsl(210 10% 20% / 0.04);
  --shadow-sm: 0px 4px 12px 0px hsl(210 10% 20% / 0.08),
    0px 1px 2px -1px hsl(210 10% 20% / 0.08);
  --shadow: 0px 4px 12px 0px hsl(210 10% 20% / 0.08),
    0px 1px 2px -1px hsl(210 10% 20% / 0.08);
  --shadow-md: 0px 4px 12px 0px hsl(210 10% 20% / 0.08),
    0px 2px 4px -1px hsl(210 10% 20% / 0.08);
  --shadow-lg: 0px 4px 12px 0px hsl(210 10% 20% / 0.08),
    0px 4px 6px -1px hsl(210 10% 20% / 0.08);
  --shadow-xl: 0px 4px 12px 0px hsl(210 10% 20% / 0.08),
    0px 8px 10px -1px hsl(210 10% 20% / 0.08);
  --shadow-2xl: 0px 4px 12px 0px hsl(210 10% 20% / 0.2);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
  --shadow-offset-x: 0px;
  --shadow-offset-y: 4px;
  --letter-spacing: 0em;
}

.dark {
  --background: oklch(0.2552 0.017 248.4942);
  --foreground: oklch(0.9064 0.0053 247.883);
  --card: oklch(0.2961 0.021 248.5405);
  --card-foreground: oklch(0.9064 0.0053 247.883);
  --popover: oklch(0.2961 0.021 248.5405);
  --popover-foreground: oklch(0.9064 0.0053 247.883);
  --primary: oklch(0.7306 0.1147 179.5905);
  --primary-foreground: oklch(0.2127 0.0127 248.425);
  --secondary: oklch(0.5648 0.1231 297.7007);
  --secondary-foreground: oklch(0.2127 0.0127 248.425);
  --muted: oklch(0.3657 0.0208 248.3964);
  --muted-foreground: oklch(0.72 0.0165 248.0568);
  --accent: oklch(0.7413 0.1212 82.1342);
  --accent-foreground: oklch(0.2127 0.0127 248.425);
  --destructive: oklch(0.5594 0.19 25.8625);
  --destructive-foreground: oklch(0.2127 0.0127 248.425);
  --border: oklch(0.4127 0.0243 248.4143);
  --input: oklch(0.4127 0.0243 248.4143);
  --ring: oklch(0.7306 0.1147 179.5905);
  --chart-1: oklch(0.7306 0.1147 179.5905);
  --chart-2: oklch(0.5648 0.1231 297.7007);
  --chart-3: oklch(0.7413 0.1212 82.1342);
  --chart-4: oklch(0.5695 0.191 5.9428);
  --chart-5: oklch(0.5784 0.0789 232.1037);
  --sidebar: oklch(0.2552 0.017 248.4942);
  --sidebar-foreground: oklch(0.9064 0.0053 247.883);
  --sidebar-primary: oklch(0.6074 0.0896 180.2428);
  --sidebar-primary-foreground: oklch(0.2127 0.0127 248.425);
  --sidebar-accent: oklch(0.6414 0.1048 82.1439);
  --sidebar-accent-foreground: oklch(0.9064 0.0053 247.883);
  --sidebar-border: oklch(0.3657 0.0208 248.3964);
  --sidebar-ring: oklch(0.6074 0.0896 180.2428);
  --font-sans: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  --radius: 0.5rem;
  --shadow-x: 0px;
  --shadow-y: 4px;
  --shadow-blur: 12px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.3;
  --shadow-color: hsl(210, 10%, 5%);
  --shadow-2xs: 0px 4px 12px 0px hsl(210 10% 5% / 0.15);
  --shadow-xs: 0px 4px 12px 0px hsl(210 10% 5% / 0.15);
  --shadow-sm: 0px 4px 12px 0px hsl(210 10% 5% / 0.3),
    0px 1px 2px -1px hsl(210 10% 5% / 0.3);
  --shadow: 0px 4px 12px 0px hsl(210 10% 5% / 0.3),
    0px 1px 2px -1px hsl(210 10% 5% / 0.3);
  --shadow-md: 0px 4px 12px 0px hsl(210 10% 5% / 0.3),
    0px 2px 4px -1px hsl(210 10% 5% / 0.3);
  --shadow-lg: 0px 4px 12px 0px hsl(210 10% 5% / 0.3),
    0px 4px 6px -1px hsl(210 10% 5% / 0.3);
  --shadow-xl: 0px 4px 12px 0px hsl(210 10% 5% / 0.3),
    0px 8px 10px -1px hsl(210 10% 5% / 0.3);
  --shadow-2xl: 0px 4px 12px 0px hsl(210 10% 5% / 0.75);
  --shadow-offset-x: 0px;
  --shadow-offset-y: 4px;
  --letter-spacing: 0em;
  --spacing: 0.25rem;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
  --radius: 0.5rem;
  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
  --tracking-normal: var(--tracking-normal);
  --spacing: var(--spacing);
  --letter-spacing: var(--letter-spacing);
  --shadow-offset-y: var(--shadow-offset-y);
  --shadow-offset-x: var(--shadow-offset-x);
  --shadow-spread: var(--shadow-spread);
  --shadow-blur: var(--shadow-blur);
  --shadow-opacity: var(--shadow-opacity);
  --color-shadow-color: var(--shadow-color);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
  }
}
